/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    font-style: normal;
    text-decoration: none;

}

/* END OF CSS RESET */
body {
    overflow-x: hidden;
}


/* VARIABLES */

:root {
    --black: rgba(36, 35, 35, 0.9);
    --h4: rgb(221, 144, 0);
    --blackButton: rgb(36, 35, 35);
    --blue: rgb(53, 129, 159);
    --white: rgb(255, 255, 255);

}


/* HERO */

#hero {
    height: 100vh;
    text-align: center;
    background-image: url("../images/yellow-background-pencil-designer.jpg");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
}

#hero-inner h1 {
    font-size: 64px;
    color: var(--black);
    padding-top: 220px;
    font-family: bold;
}


#hero #hero-inner p {
    font-size: 18px;
    color: var(--black);
    font-family: bold;
}

#button-one {
    background-color: var(--blue);
    margin-top: 40px;
    padding: 18px;
    font-size: 15px;
    font-family: bold;
    text-align: center;
    border: none;
    border-radius: 5px;
    color: var(--white);
    cursor: pointer;
    
}
#button-one:hover{
    color:black;
    background-color: aqua;
    transition: .3s;

}

/* END OF HERO*/



/* ABOUT SECTION */
#about {
    height: 50vh;
    text-align: center;
    
}

#about h2 {
    font-size: 30px;
    color: var(--black);
    padding-top: 80px;
    padding-bottom: 5px;
    font-family: bold;
}

#about p {
    font-size: 18px;
    font-family: regular;
    color: var(--black);
}

#button-two {
    background-color: var(--blackButton);
    margin-top: 40px;
    padding: 18px;
    font-size: 15px;
    font-family: bold;
    text-align: center;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
#button-two:hover{
    color:black;
    background-color: aqua;
    transition: .3s;

}

/* END OF ABOUT */

/* SERVICES */

#services {
    height: 50vh;
    background-color: var(--blue);
    text-align: center;
    padding-top: 50px;
}


#services h4 {
    color: var(--h4);
    font-size: 19px;
    font-family: bold;
}

#services h3 {
    font-family: bold;
    color: var(--white);
    padding: 20px;
    text-align: center;
    
}

#services h2 {
    color: var(--white);
    font-family: bold;
}

#links{
    display: flex;
}
#link1{
    background-color: var(--white);
    border-radius: 100px;
    margin-top: 10px;
    margin-right: 10px;
    height: 100px;
    width: 100px;
    margin-left: 240px;
}
#link2{
    background-color: var(--white);
    border-radius: 100px;
    margin-top: 10px;
    margin-right: 10px;
    height: 100px;
    width: 100px;
    margin-left: 160px;
}
#link3{
    background-color: var(--white);
    border-radius: 100px;
    margin-top: 10px;
    margin-right: 10px;
    height: 100px;
    width: 100px;
    margin-left: 160px;
}
#link4{
    background-color: var(--white);
    border-radius: 100px;
    margin-top: 10px;
    margin-right: 10px;
    height: 100px;
    width: 100px;
    margin-left: 175px;
}

#icons1 {
    display: flex;
    padding-left: 200px;
}

#p1{
    color: var(--white);
    font-size: 17px;
    margin-bottom: 60px;
    margin-left: .001px;
}
#p2{
    color: var(--white);
    font-size: 17px;
    padding-top: 0px;
    margin-left: 20px;
}
#p3{
    color: var(--white);
    font-size: 17px;
    padding-top: 0px;
    margin-left: 50px;
}
#p4{
    color: var(--white);
    font-size: 17px;
    padding-top: 0px;
    margin-left: 80px;
    
}
#icons1 p{
    font-weight: lighter;
    opacity: 50%;
}

/* }END OF SERVICES */

/* next web */
#next-web {
    height: 80vh;
    text-align: center;
    background-image: url("../images/scissors2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 150px;
}

#next-web #nextweb-inner h2 {
    font-size: 48px;
    color: var(--black);
    padding-left: 480px;
    padding-top: 70px;
    width: 400px;
}

#next-web #nextweb-inner span {
    font-style: italic;
}

#button-three {
    background-color: var(--blue);
    margin-top: 40px;
    padding: 18px;
    font-size: 15px;
    font-family: bold;
    text-align: center;
    border: none;
    border-radius: 5px;
    color: var(--white);
    cursor: pointer;

}
#button-three:hover{
    color:black;
    background-color: aqua;
    transition: .3s;

}


/* END OF NEXT WEB */


/* PROJECTS */


#portfolio {
    height: 100vh;
    text-align: center;
    padding-top: 100px;
    color: var(--white);
    padding-bottom: 80px;

}

#portfolio h4 {
    color: var(--h4);
    font-size: 16px;
    font-family: regular;
}

#portfolio H2 {
    color: var(--black);
    font-size: 48px;
    font-family: bold;
    padding-bottom: 80px;
}

#portfolio .content-inner h3 {
    color: var(--white);
    font-size: 30px;
    font-family: bold;
}

#portfolio .content {
    display: flex;
    justify-content: center;
}

#portfolio .content h3 {
    margin-top: 170px;
    font-family: bold;
    margin-bottom: 10px;
    padding-left: 40px;
    opacity: 0;
}
#portfolio .content :hover h3{
    opacity: 1;
    transition: .3s;
}
 
#portfolio .content p {
    font-family: regular;
    font-size: 14px;
    width: 80%;
    padding-left: 40px;
    opacity: 0;
} 
#portfolio .content :hover p{
    opacity: 1;
    transition: .3s;
}


#content-inner1 {
    background-image: url(../images/envelopes.jpg);
    height: 40vh;
    width: 30%;
    background-size: cover;
    color: var(--white);
    text-align: left;
}

#content-inner1 p{
    font-size: 16px;
}
#content-inner1:hover {
    transform: scale(1.3);
    transition: 0.3s;
}

#content-inner2 {
    background-image: url(../images/pencil.jpg);
    height: 40vh;
    width: 30%;
    background-size: cover;
    text-align: left;
}


#content-inner2 p{
    font-size: 16px;
}


#content-inner2:hover {
    transform: scale(1.3);
    transition: 0.3s;
}


#content-inner3 {
    background-image: url(../images/strawberry.PNG);
    height: 40vh;
    width: 30%;
    background-size: cover;
    text-align: left;
}


#content-inner3 p{
    font-size: 16px;
}


#content-inner3:hover {
    transform: scale(1.3);
    transition: 0.3s;
}


#content-inner3:hover {
    transform: scale(1.3);
}

#content-inner4 {
    background-image: url(../images/scissors2.jpg);
    height: 40vh;
    width: 30%;
    background-size: cover;
    text-align: left;

}


#content-inner4 p{
    font-size: 16px;
}


#content-inner4:hover {
    transform: scale(1.3);
    transition: 0.3s;
}


#portfolio .content #content-inner img {
    width: 600px;
    padding: none;
    border: 1px;
}



/* END OF PROJECTS */


/* CONTACT */

#contact {
    height: 30vh;
    margin-top: 100px;
    background-color: var(--blue);
    text-align: center;
    padding-top: 100px;
}

#contact-inner p {
    color: var(--white);
    padding-top: 10px;
}

.click-me {
    display: flex;
    padding-left: 500px;
}

#contact-1 {
    background-color: var(--white);
    margin-top: 40px;
    padding: 18px;
    font-size: 10px;
    font-family: bold;
    border: none;
    border-radius: 5px;
    color: var(--black);
    cursor: pointer;
    margin-left: 70px;
}
#contact-1:hover{
    color:black;
    background-color: aqua;
    transition: .3s;

}

#contact p {
    font-family: regular;
    color: var(--white);
}

#contact-2 {
    background-color: var(--black);
    margin-top: 40px;
    padding: 18px;
    font-size: 10px;
    font-family: bold;
    border: none;
    border-radius: 5px;
    color: var(--white);
    cursor: pointer;
    margin-left: 20px;
}
#contact-2:hover{
    color:black;
    background-color: aqua;
    transition: .3s;

}

/* MAP SECT */
.google-map {
    padding-bottom: 50%;
    position: relative;
}

.google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;

}

/* END OF MAP SECT */

/* FOOTER */

footer {
    height: 30vh;
    color: var(--black);
    text-align: center;
    /* padding: auto; */
}

#footer-inner {
    width: 100%;
    padding-top: 3rem;
    align-self: center;
}

#footer-icons {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-content: center;
    list-style: none;
    color: var(--blue);
}


#copyright {
    text-align: center;
    margin-top: 30px;
}


#map {
     padding-top: 50%;
     position: relative;
} 

#map iframe{
    height: 100%;
    width: 2005px;
    left: 0;
    top: 0;
    position: absolute;
}




























/* MEDIA QUERIES */



/* ipad mini */
@media (max-width:768px) {

    /* /_ NAV */ */
.toggle {
display: none;
}
.slide {
display: block;
position: absolute;
top: 0;
right: 0;
background-color: #333;
padding: 20px;
border-radius: 5px;
}
#nav-ul {
flex-direction: column;
}
#nav-ul li {
margin-bottom: 10px;
}
#nav-ul li a {
font-size: 16px;
}


    #hero {
        height: 50vh;
    }
    #hero .hero-inner{
        padding-top: 50px;
    }
     #hero #hero-inner h1{
        font-size: 50px;
        padding-top: 150px;
    }
    #hero #hero-inner p{
        font-size: 15px;
    }

    #hero-inner h2{
     font-size: 16px;
        
    }
    #button-one{
    background-color: var(--blue);
    margin-top: 20px;
    padding: 20px;
    font-size: 10px;
    font-family: bold;
    margin-left: 10px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
    
    /* about */

    #about{
        height: 30vh;
        text-align: center;
    }

    #about h2 {
        font-size: 12px;
        color: var(--black);
        padding-top: 0.5px;
        font-family: bold;
    }

    #about p {
        font-size: 12px;
        font-family: regular;
        color: var(--black);
    }
    #button-two {
        background-color: var(--blackButton);
        margin-top: 20px;
        padding: 18px;
        font-size: 10px;
        font-family: bold;
        text-align: center;
        color: rgb(255, 255, 255);
        cursor: pointer;
        border: none;
        border-radius: 5px;
    }
    

    

     #about #about-inner {
        height: 40vh;
        padding-top: 100px;
        padding-bottom: 20px;

    }

    #about#about-inner {
        font-size: 25px;
    }

    #about#about-inner p {
        font-size: 16px;
    } */

    /* end of about */




    /* services */

    #services {
        
        padding-top: 90px;
      }
    
      #services h2 {
        font-size: 24px;
      }
    
      #links {
        padding-top: 60px;
      }
    
      #link1,
      #link2,
      #link3,
      #link4 {
        margin-left: 90px;
        margin-right: 19px;
        margin-bottom: 20px;
        height: 80px;
        width: 80px;
      }
    
      #icons1 {
        padding-left: 60px;
      }
    
      #p1,
      #p2,
      #p3,
      #p4 {
        font-size: 14px;
      }
  
      .end .links {
          align-content: center;
          border-radius: 100px;
          padding: 10px;
          margin: 5px;
          background-color: var(--white);
          display: flex;
          font-size: 60px;
          margin-bottom: 20px;
          justify-content: space-between;
          width: 290px;
          margin-left:220px ;
          
      }
  
    


    
    /*end of services*/

    /* next-web */

    #next-web{
        height: 50vh;
        text-align: center;
    }
    
    #next-web #nextweb-inner h2{
        font-size: 38px;
        padding-left: 200px;
  }

  #button-three{
    font-size: 10px;
  }
  /* end of next web */

  #portfolio{
    height: 50vh;
    text-align: center;
    padding-top: 40px;

  }
  #portfolio h2{
    font-size: 30px
  }
  #portfolio h4{
    font-size: 10px;
  }

  #portfolio .content-inner h3{
    font-size: 5px;
  }

  #portfolio .content h3{
    font-size: 15px;
  }

  #portfolio .content p{
    font-size: 13px;
  }
  #content-inner1 {
    background-image: url(../images/envelopes.jpg);
    height: 30vh;
    width: 30%;
    background-size: cover;
    color: var(--white);
    text-align: left;

}
#content-inner2 {
    background-image: url(../images/pencil.jpg);
    height: 30vh;
    width: 30%;
    background-size: cover;
    text-align: left;

}
#content-inner3 {
    background-image: url(../images/strawberry.PNG);
    height: 30vh;
    width: 30%;
    background-size: cover;
    text-align: left;
}

#content-inner4 {
    background-image: url(../images/scissors2.jpg);
    height: 30vh;
    width: 30%;
    background-size: cover;
    text-align: left;

}

#portfolio .content #content-inner img {
    width: 100px;
    padding-bottom: 50px;
    border: 1px;
}
/* end of portfolio */

/* contact */
#contact {
    height: 20vh;
    margin-top: 200px;
    background-color: var(--blue);
    text-align: center;
    padding-top: 100px;
}
.click-me {
    display: flex;
    padding-left: 220px;
}
#map{
        padding-top: 50%;
        position: relative;
   } 
   
   #map iframe{
       height: 100%;
       width: 769px;
       left: 0;
       top: 0;
       position: absolute;
   }

}






/* iphone XR */

@media (max-width:414px) {
    #hero {
        height: 30vh;
        
    }
    #hero #hero-inner h1{
        font-size: 25px;
        padding-top: 70px;
        text-align: center;
    }

    #hero p {
        font-size: 12px;
        color: var(--black);
        font-family: regular;
        font-family: italic;
    }

        
    
    /* about */

    #about{
        height: 35vh;
        text-align: center;
    }
    #about h2 {
        font-size: 16px;
        color: var(--black);
        padding-top: 10px;
        padding-bottom: 5px;
        font-family: bold;
    }

    #about p {
        font-size: 10px;
        font-family: regular;
        color: var(--black);
    }

    #button-one{
        background-color: var(--blue);
        margin-top: 40px;
        padding-bottom: 12px;
        font-size: 10px;
        font-family: bold;
        margin-right: 50px;
        color: rgb(255, 255, 255);
        cursor: pointer;
        border: none;
        border-radius: 5px;

    }

    #button-two {
        background-color: var(--blackButton);
        margin-top: 40px;
        padding-bottom: 5px;
        font-size: 10px;
        font-family: bold;
        margin-right: 50px;
        color: rgb(255, 255, 255);
        cursor: pointer;
        border: none;
        border-radius: 5px;
    }


    /* end of about */

     /* services */

     #services{
        width: 410px;
        padding-top: 10px;
      }
    
      #services h2 {
        width: 410px;
        font-size: 24px;
      }
    
      #links {
        padding-top: 100px;
        width: 410px;
      }
    
      #link1,
      #link2,
      #link3,
      #link4 {
        width: 410px;
        margin-left: 55px;
        margin-right: 8px;
        margin-bottom: 20px;
        height: 20px;
        width: 20px;
      }
    
      #icons1 {
        padding-left: 10px;

      }
    
      #p1,
      #p2,
      #p3,
      #p4 {
        width: 414px;
        font-size: 8px;
        margin-right: 1px;
        flex-direction: row;
      }
  
      .end .links {
          align-content: center;
          border-radius: 100px;
          padding: 10px;
          margin: 5px;
          background-color: var(--white);
          display: flex;
          font-size: 60px;
          margin-bottom: 20px;
          justify-content: space-between;
          width: 290px;
          margin-left:220px ;
          
      }
      /*end of services*/


       /* next-web */

    #next-web{
        height: 20vh;
        text-align: center;
        padding-bottom: 50px;
    }
    
    
    #next-web #nextweb-inner h2{
        font-size: 25px;
        padding-left: 100px;
        padding-top: .05px;
        width: 200px;

  }

  #button-three {
    background-color: var(--blue);
    margin-top: 40px;
    padding: 18px;
    font-size: 10px;
    font-family: bold;
    text-align: center;
    border: none;
    border-radius: 5px;
    color: var(--white);
    cursor: pointer;


}
  /* end of next web */


  #portfolio{
    height: 30vh;
    text-align: center;
    padding-top: 40px;

  }
  #portfolio h2{
    font-size: 20px;
  }
  #portfolio h4{
    font-size: 10px;
  }

  #portfolio .content-inner h3{
    font-size: 5px;
  }

  #portfolio .content h3{
    font-size: 10px;
  }

  
  #portfolio .content p {
    font-family: regular;
    font-size: 15px;
    width: 500%;
    height: auto;
    padding-left: 100px;
    padding-top: 500px;
    
}


  #content-inner1 {
    background-image: url(../images/envelopes.jpg);
    height: 20vh;
    width: 20%;
    background-size: cover;
    color: var(--white);
    text-align: left;

}
#content-inner2 {
    background-image: url(../images/pencil.jpg);
    height: 20vh;
    width: 20%;
    background-size: cover;
    text-align: right;

}
#content-inner3 {
    background-image: url(../images/strawberry.PNG);
    height: 20vh;
    width: 20%;
    background-size: cover;
    text-align: left;
}

#content-inner4 {
    background-image: url(../images/scissors2.jpg);
    height: 20vh;
    width: 20%;
    background-size: cover;
    text-align: left;

}

#portfolio .content #content-inner img {
    width: 50px;
    padding-bottom: 50px;
    border: 1px;
}
/* end of portfolio */

/* contact */
#contact {
    height: 20vh;
    margin-top: 200px;
    background-color: var(--blue);
    text-align: center;
    padding-top: 100px;
}
.click-me {
    display: flex;
    padding-left: 30px;
}

#map{
    padding-top: 50%;
    position: relative;
} 

#map iframe{
   height: 100%;
   width: 415px;
   left: 0;
   top: 0;
   position: absolute;
}

  
    }

    
    


























